#grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 10px;

  margin: 30px 15%;
}

h5 {
  font-weight: bold;
}

.card {
  border-radius: 5px;
  background-color: beige;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-body div:last-of-type {
  text-align: right;
  margin-top: auto;
}